@import "variables";

h1,
h2,
h3 {
  font-family: $font-secondary;
  font-weight: 600;
}

h1 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 4rem;
  line-height: 1.5;
  text-transform: uppercase;
}
h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

a {
  color: $color-primary;
}

a.active,
a:hover {
  color: $color-primary-light;
}

strong {
  font-weight: 700;
}

p,
ul {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

ul li::before {
  content: "—";
  margin: 0 0.5rem 0 0;
}
