// COLORS
$color-primary: #008288;
$color-primary-light: #00adb5;

$color-secondary: #222831;

$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #eee;
$color-grey-light-3: #ddd;
$color-grey-dark-1: #393e46;
$color-grey-dark-2: #666;
$color-grey-dark-3: #999;

// FONT VARIABLES
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Montserrat", Helvetica, sans-serif;
$font-size-base: 1.8rem;

// RESPONSIVE BREAKPOINTS
$bp-large: 56.25em; // 900px;
$bp-small: 37.5em; // 600px;
