@import "variables";

.header {
  &__logo {
    grid-column: sidebar-start / sidebar-end;
    place-self: center;

    img {
      padding: 1rem;
      border-radius: 50%;
    }
  }

  &__content {
    grid-column: content-start / layout-end;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-base;
  }

  &__name {
    padding-bottom: 1rem;
    color: $color-secondary;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
  }

  &__description {
    color: $color-grey-dark-1;
  }
}
