.container {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [sidebar-start] 8rem
    [sidebar-end content-start] minmax(min-content, 85rem)
    [content-end] 1fr [full-end];
  grid-gap: 3rem;
  margin: 0 auto;
  max-width: 960px;
}

.main {
  grid-column: content-start / content-end;
}

blockquote {
  color: #393e46;
  font-style: oblique;
}

article h1 {
  text-align: center;
}

article .date {
  text-align: center;
  color: #393e46;
}

article .tags {
  margin-left: 0;
}

article .tags li {
  display: inline-block;
  background: #eee;
  padding: 5px 10px;
  margin-right: 10px;
}
article .tags li:hover {
  background: #ddd;
}

article .tags a,
article .tags a:hover {
  text-decoration: none;
  color: #999;
}
