@import "variables";

.container {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [sidebar-start] 8rem
    [sidebar-end content-start] minmax(40rem, 85rem)
    [content-end] 8rem [layout-end] 1fr [full-end];
  grid-gap: 3rem;
  margin: 0 auto;
  max-width: 960px;
}

.main {
  grid-column: content-start / content-end;
  font-size: $font-size-base;
}
