html,
body {
  color: #333333;
  font-family: "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 18px;
}

body {
  padding: 24px 24px 32px;
  border-top: 6px solid #333;
  background: #f5f5f5;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.7rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.5rem;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.6rem;
  }
  h6 {
    font-size: 1.3rem;
  }
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

#logo {
  float: left;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  height: 100px;
  padding-left: 100px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  line-height: 1;
}

header {
  margin-bottom: 30px;
}

.header__inner {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  line-height: 1;
}

.header__logo img {
  padding: 8px;
  border-radius: 50%;
}

.header__logo a {
  margin-right: 16px;
}

.header__logo ._name {
  display: block;
  padding-bottom: 8px;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
}

.header__logo ._description {
  color: #999;
}

header a {
  text-decoration: none;
  color: #999;
}

header .container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 650px) {
  header .container > div {
    flex-flow: column;
  }
}

header nav a {
  padding: 0 18px;
}

header nav a.active {
  color: #333;
}

blockquote {
  color: #888;
  font-style: oblique;
}

.post h1 {
  text-align: center;
}

.post .date {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1em;
  color: #888;
}

.post .tags {
  margin-left: 0;
}

.post .tags li {
  display: inline-block;
  background: #eee;
  padding: 5px 10px;
  margin-right: 10px;
}
.post .tags li:hover {
  background: #ddd;
}

.post .tags a,
.post .tags a:hover {
  text-decoration: none;
  color: #999;
}
